BasedOnStyle: Google
DerivePointerAlignment: false
PointerAlignment: Left
IndentWidth: 4
AlignTrailingComments: true
AlignConsecutiveAssignments: true
IndentAccessModifiers: true
IncludeBlocks: Merge

RawStringFormats:
- Language: TextProto
  Delimiters:
  - 'pb'
  - 'proto'
  BasedOnStyle: Google